<p>
  <strong>Comment:</strong>
  <%= comment.comment %><br>
  <% comment.replies.each do |rep| %>
  <p></p><b>Reply:</b>
  <%= rep.reply %>
  <%= link_to 'edit',edit_post_comment_reply_path(rep.comment.post, rep.comment, rep) %>
  <%= link_to 'delete', post_comment_reply_path(rep.comment.post, rep.comment, rep),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  <% end %>


  
  
</p>
<p>
  
  
</p>

 
 <p>
  <%= link_to 'delete comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>

   <%= link_to 'edit comment',edit_post_comment_path(comment.post, comment) %>
   <%= link_to 'reply comment',  new_post_comment_reply_path(comment.post, comment) %>


 </p>
